[Desktop Entry]
Encoding=UTF-8
Name=StorOfWealth
Comment=StorOfWealth P2P Cryptocurrency
Comment[fr]=StorOfWealth, monnaie virtuelle cryptographique pair à pair
Comment[tr]=StorOfWealth, eşten eşe kriptografik sanal para birimi
Exec=storofwealth-qt %u
Terminal=false
Type=Application
Icon=storofwealth128
MimeType=x-scheme-handler/storofwealth;
Categories=Office;Finance;
