[Unit]
Description=Store of Wealth Coin's distributed currency daemon
After=network.target

[Service]
User=storofwealth
Group=storofwealth

Type=forking
PIDFile=/var/lib/storofwealthd/storofwealthd.pid

ExecStart=/usr/bin/storofwealthd -daemon -pid=/var/lib/storofwealthd/storofwealthd.pid \
          -conf=/etc/storofwealth/storofwealth.conf -datadir=/var/lib/storofwealthd

ExecStop=-/usr/bin/storofwealth-cli -conf=/etc/storofwealth/storofwealth.conf \
         -datadir=/var/lib/storofwealthd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
